    <!-- ******ABOUT****** --> 
    <section id="about" class="section-stripe">
        <div class="container">
            <h2 class="title text-center">What is shrift?</h2>
            <p class="intro text-center"><code>shrift</code> lets you specify tests to run against your environment in a language you already know: <code>bash</code>. It designed to run minimally, without any complex setup, and from anywhere you want to run it using the same test commands you would run from a shell prompt.</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="sub-title">Test in 60 seconds</h3>
                        <p>Installation is quick and easy, just <code>curl</code> or <code>wget</code> the script and you're off to the races faster than Nicolas Cage can fall in love with a car. Oh Eleanor.</p>
                    </div><!--//feature-content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="sub-title">Minimal dependencies</h3>
                        <p><code>shrift</code> is designed to run without any complex setup, using only tools widely available. Tests, however, can make use of any tools/scripts in your aresenal.</p>
                    </div><!--//feature-content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="feature-content">
                        <h3 class="sub-title">CLI commands to test suite</h3>
                        <p>Steps to test or troubleshoot a problem from the CLI can be instantly transformed into a spec by placing those commands into a file. No translation necessary.</p>
                    </div><!--//feature-content-->
                </div><!--//item-->           
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
