    <!-- ******DOCS****** --> 
    <section id="docs" class="section-stripe">
        <div class="container">
            <div class="content">
              <h2 class="title text-center">Documentation</h2>
              <p class="intro text-center">For more resources on using and running shrift, please consult the project <a href="https://github.com/thisendout/shrift" target="_blank">GitHub page</a>.</p>
              <div class="block">
                  <h3 class="sub-title">Spec Files</h3>
                  <p>Files to be executed by <code>shrift</code> must contain one test per line. A test is considered passing when the return code is <code>0</code>. Any other condition is considered a failure.</p>
                  <div class="code-block">
                      <pre><code class="bash"># example spec file
test -f /etc/passwd
whoami | grep root
/usr/local/bin/my_test_script
netstat -lntp | grep 80</code></pre>
                  </div><!--//code-block-->
              </div><!--//block-->
            
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
