    <!-- ******HERO****** -->
    <section id="hero" class="section offset-header">
        <div class="container text-center">
            <h2 class="title">shrift</h2>
            <p class="intro">A minimal spec framework for running tests against your infrastructure.</p>
            <div class="btns">
                <a class="btn btn-cta-secondary" href="https://github.com/thisendout/shrift" target="_blank">GitHub</a>
                <a class="btn btn-cta-primary" href="https://raw.githubusercontent.com/thisendout/shrift/master/shrift" target="_blank">Install</a>
            </div>
        </div><!--//container-->
    </section><!--//hero-->
