    <!-- ******QUICKSTART****** --> 
    <section id="quickstart" class="section quickstart">
        <div class="container">
            <div class="content">
            <h2 class="title text-center">Quickstart</h2>
            <div class="block">
                <p class="intro text-center">Below are instructions on how to install <code>shrift</code> and write and run your first spec test.</p>
                <div class="code-block">
                    <pre><code class="language-bash"># download the script
curl -L -o shrift https://github.com/thisendout/shrift/raw/master/shrift
# make executable
chmod +x shrift</code></pre>
                </div>
            </div>
            <div class="block">
                <p class="text-center" style="padding: 15px 0; font-size: 20px;">Optionally create and run a new a spec test</p>
                <div class="code-block">
                    <pre><code class="language-bash"># write a passing test
echo "test -x ./shrift" > test_spec.sh
# execute with shrift
./shrift test_spec.sh</code></pre>
                </div>
            </div>
                     </code></pre>
                </div><!--//code-block-->
            </div><!--//block-->
            </div><!--//docs-inner-->         
        </div><!--//container-->
    </section><!--//docs->
